# Exercice 1

In [ ]:
# Q1
class Vehicule:
    __compteur = 0  # variable de classe

    def __init__(self, annee, prix):
        Vehicule.__compteur += 1
        self.__matricule = Vehicule.__compteur
        self.__annee = annee
        self.__prix = prix

    # Getters
    def get_matricule(self):
        return self.__matricule

    def get_annee(self):
        return self.__annee

    def get_prix(self):
        return self.__prix

    # Setters
    def set_annee(self, annee):
        self.__annee = annee

    def set_prix(self, prix):
        self.__prix = prix

    def demarrer(self):
        pass

    def accelerer(self):
        pass

    def __str__(self):
        return f"Matricule: {self.__matricule}, Année: {self.__annee}, Prix: {self.__prix}"

In [23]:
# Q2
class Voiture(Vehicule):
    def demarrer(self):
        return "La voiture démarre."

    def accelerer(self):
        return "La voiture accélère."


class Camion(Vehicule):
    def demarrer(self):
        return "Le camion démarre."

    def accelerer(self):
        return "Le camion accélère."

In [25]:

# Q3 (Test)
v1 = Voiture(2020, 20000)
print(v1)
print(v1.demarrer())
print(v1.accelerer())

c1 = Camion(2018, 50000)
print(c1)
print(c1.demarrer())
print(c1.accelerer())

Matricule: 1, Année: 2020, Prix: 20000
La voiture démarre.
La voiture accélère.
Matricule: 2, Année: 2018, Prix: 50000
Le camion démarre.
Le camion accélère.

# Exercice 2

In [27]:
class Batiment:
    def __init__(self, adresse=None):
        self.__adresse = adresse

    def get_adresse(self):
        return self.__adresse

    def set_adresse(self, adresse):
        self.__adresse = adresse

    def to_string(self):
        return f"Adresse: {self.__adresse}"

In [29]:
class Maison(Batiment):
    def __init__(self, adresse=None, nb_pieces=0):
        super().__init__(adresse)
        self.__nb_pieces = nb_pieces

    def get_nb_pieces(self):
        return self.__nb_pieces

    def set_nb_pieces(self, nb_pieces):
        self.__nb_pieces = nb_pieces

    def to_string(self):
        return f"{super().to_string()}, Nombre de pièces: {self.__nb_pieces}"

In [31]:
b1 = Batiment("123 Rue de Paris")
print(b1.to_string())

m1 = Maison("456 Avenue de Lyon", 5)
print(m1.to_string())

Adresse: 123 Rue de Paris
Adresse: 456 Avenue de Lyon, Nombre de pièces: 5

# Exercise 3

In [33]:
# Exercise 3
class Personne:
    def __init__(self, nom, prenom, date_naissance):
        self.__nom = nom
        self.__prenom = prenom
        self.__date_naissance = date_naissance

    def Afficher(self):
        return f"Nom: {self.__nom}, Prénom: {self.__prenom}, Date de naissance: {self.__date_naissance}"

In [35]:
class Employe(Personne):
    def __init__(self, nom, prenom, date_naissance, salaire):
        super().__init__(nom, prenom, date_naissance)
        self.__salaire = salaire

    def get_salaire(self):
        return self.__salaire

    def set_salaire(self, salaire):
        self.__salaire = salaire

    def Afficher(self):
        return f"{super().Afficher()}, Salaire: {self.__salaire}"

In [37]:
class Chef(Employe):
    def __init__(self, nom, prenom, date_naissance, salaire, service):
        super().__init__(nom, prenom, date_naissance, salaire)
        self.__service = service

    def get_service(self):
        return self.__service

    def set_service(self, service):
        self.__service = service

    def Afficher(self):
        return f"{super().Afficher()}, Service: {self.__service}"

In [39]:
class Directeur(Chef):
    def __init__(self, nom, prenom, date_naissance, salaire, service, departement):
        super().__init__(nom, prenom, date_naissance, salaire, service)
        self.__departement = departement

    def get_departement(self):
        return self.__departement

    def set_departement(self, departement):
        self.__departement = departement

    def Afficher(self):
        return f"{super().Afficher()}, Département: {self.__departement}"

In [41]:
# Q2 Programme de test (tableau de 8 personnes) 
personnes = [
    Employe("Ali", "Karim", "1990-01-01", 3000),
    Employe("Sara", "Benali", "1992-05-10", 3200),
    Employe("Omar", "Hassan", "1988-03-22", 3500),
    Employe("Nadia", "Amrani", "1995-07-18", 2800),
    Employe("Youssef", "Fathi", "1991-11-30", 3100),
    Chef("Hassan", "Mahdi", "1980-09-15", 4500, "Informatique"),
    Chef("Amina", "Zahra", "1983-12-05", 4700, "RH"),
    Directeur("Khalid", "Rami", "1975-06-20", 7000, "Direction", "Administration")
]

In [43]:
#Q3 – Affichage avec une boucle (polymorphisme)
for personne in personnes:
    print(personne.Afficher())

Nom: Ali, Prénom: Karim, Date de naissance: 1990-01-01, Salaire: 3000
Nom: Sara, Prénom: Benali, Date de naissance: 1992-05-10, Salaire: 3200
Nom: Omar, Prénom: Hassan, Date de naissance: 1988-03-22, Salaire: 3500
Nom: Nadia, Prénom: Amrani, Date de naissance: 1995-07-18, Salaire: 2800
Nom: Youssef, Prénom: Fathi, Date de naissance: 1991-11-30, Salaire: 3100
Nom: Hassan, Prénom: Mahdi, Date de naissance: 1980-09-15, Salaire: 4500, Service: Informatique
Nom: Amina, Prénom: Zahra, Date de naissance: 1983-12-05, Salaire: 4700, Service: RH
Nom: Khalid, Prénom: Rami, Date de naissance: 1975-06-20, Salaire: 7000, Service: Direction, Département: Administration

# exercice 4

In [46]:
# Q1 
class Employe:
    def __init__(self, matricule, nom, prenom, date_naissance):
        self.__matricule = matricule
        self.__nom = nom
        self.__prenom = prenom
        self.__date_naissance = date_naissance

    def get_salaire(self):
        return 0  # sera redéfinie dans les classes filles

    def __str__(self):
        return f"Matricule: {self.__matricule}, Nom: {self.__nom}, Prénom: {self.__prenom}, Date de naissance: {self.__date_naissance}"

In [48]:
# Q2 
class Ouvrier(Employe):
    SMIG = 2500

    def __init__(self, matricule, nom, prenom, date_naissance, annee_entree):
        super().__init__(matricule, nom, prenom, date_naissance)
        self.__annee_entree = annee_entree

    def get_salaire(self):
        anciennete = 2025 - self.__annee_entree
        salaire = Ouvrier.SMIG + anciennete * 100
        if salaire > Ouvrier.SMIG * 2:
            salaire = Ouvrier.SMIG * 2
        return salaire

    def __str__(self):
        return f"{super().__str__()}, Année entrée: {self.__annee_entree}, Salaire: {self.get_salaire()}"

In [50]:

class Cadre(Employe):
    def __init__(self, matricule, nom, prenom, date_naissance, indice):
        super().__init__(matricule, nom, prenom, date_naissance)
        self.__indice = indice

    def get_salaire(self):
        if self.__indice == 1:
            return 13000
        elif self.__indice == 2:
            return 15000
        elif self.__indice == 3:
            return 17000
        elif self.__indice == 4:
            return 20000
        else:
            return 0

    def __str__(self):
        return f"{super().__str__()}, Indice: {self.__indice}, Salaire: {self.get_salaire()}"

In [52]:


class Patron(Employe):
    chiffre_affaire = 0  # commun à tous

    def __init__(self, matricule, nom, prenom, date_naissance, pourcentage):
        super().__init__(matricule, nom, prenom, date_naissance)
        self.__pourcentage = pourcentage

    def get_salaire(self):
        return Patron.chiffre_affaire * self.__pourcentage / 100

    def __str__(self):
        return f"{super().__str__()}, Pourcentage: {self.__pourcentage}%, Salaire annuel: {self.get_salaire()}"

In [54]:
#Q3 
Patron.chiffre_affaire = 1_000_000

employes = [
    Ouvrier(1, "Ali", "Karim", "1990", 2015),
    Ouvrier(2, "Sara", "Benali", "1992", 2018),
    Cadre(3, "Omar", "Hassan", "1985", 2),
    Cadre(4, "Nadia", "Amrani", "1980", 4),
    Patron(5, "Khalid", "Rami", "1975", 5)
]

for e in employes:
    print(e)

Matricule: 1, Nom: Ali, Prénom: Karim, Date de naissance: 1990, Année entrée: 2015, Salaire: 3500
Matricule: 2, Nom: Sara, Prénom: Benali, Date de naissance: 1992, Année entrée: 2018, Salaire: 3200
Matricule: 3, Nom: Omar, Prénom: Hassan, Date de naissance: 1985, Indice: 2, Salaire: 15000
Matricule: 4, Nom: Nadia, Prénom: Amrani, Date de naissance: 1980, Indice: 4, Salaire: 20000
Matricule: 5, Nom: Khalid, Prénom: Rami, Date de naissance: 1975, Pourcentage: 5%, Salaire annuel: 50000.0