*# Imad Jaddi
*# MISC 1
*# TP 01

# **Rapport de TP01– Programmation Python**

**Introduction**

Ce rapport présente les travaux pratiques réalisés en Python, organisés en 10 questions (Q1 à Q10).

# **Q1 : Confusion diamètre/rayon dans le calcul des propriétés d'un disque**

In [7]:
import math

rayon = 4.56
diametre = rayon*2

perimetre = math.pi * diametre
aire = math.pi * rayon ** 2

print(f"Périmètre : {perimetre} cm")
print(f"Aire : {aire} cm ")

Périmètre : 28.65132500073891 cm
Aire : 65.32502100168472 cm

# **Q2 : Somme de fractions**

**Description**

Calcul de la somme de plusieurs fractions données sous forme de listes de tuples (numérateur, dénominateur).

**Code utilisé**

In [1]:
def somme_fractions(fractions):

    nom = 0  # numérateur total
    den = 1  # dénominateur total

    for fraction in fractions:
        nom += fraction[0]
        den *= fraction[1]
    return nom, den
def afficher_resultat(fractions):

    somme = somme_fractions(fractions)
    print(f"La somme des fractions est : {somme[0]}/{somme[1]}")
# Exemple d'utilisation
fractions = [(217, 440), (101, 256), (86, 71)]
afficher_resultat(fractions)

La somme des fractions est : 404/7997440

# **Q3 : Maximum de trois nombres**

**Description**

Détermination du plus grand de trois nombres à l’aide d’une classe.

**Code utilisé**

In [2]:
def trouver_maximum(a, b, c):

    return max(a, b, c)

# Liste de tests
tests = [
    (8, 6, 8),
    (10, 6, 1),
    (10, 4, -5),
    (5, 0, 1),
    (3, -9, -4)
]

# Résultats des tests
for a, b, c in tests:
    print(f"{a}, {b}, {c} Nombre grand est {trouver_maximum(a, b, c)}")

8, 6, 8 Nombre grand est 8
10, 6, 1 Nombre grand est 10
10, 4, -5 Nombre grand est 10
5, 0, 1 Nombre grand est 5
3, -9, -4 Nombre grand est 3

# **Q4 : Catégorie sportive selon l’âge**

**Description**

Détermination de la catégorie sportive d’un individu en fonction de son âge.

**Code utilisé**

In [3]:
def determiner_categorie(age):

    if age <= 5:
        return "OUPS pas suffisamment grand"
    elif 6 <= age <= 9:
        return "Poussin ou Pupille"
    elif 10 <= age <= 15:
        return "Minime ou Cadet"
    elif 16 <= age <= 17:
        return "Junior"
    else:
        return "Senior"

# Liste d'âges pour tester
ages_tests = [7, 10, 12, 16, 18, 20, 5]

# Affichage des résultats
for age in ages_tests:
    print(f"{age} → {determiner_categorie(age)}")

7 → Poussin ou Pupille
10 → Minime ou Cadet
12 → Minime ou Cadet
16 → Junior
18 → Senior
20 → Senior
5 → OUPS pas suffisamment grand

# **Q5 : Afficher activité d'un écolier**

In [4]:
# Saisie de l'entier représentant le jour (0=Dimanche, 6=Samedi)
jour = int(input("Entrez le rang du jour (0 à 6) : "))

# Vérification des valeurs et affichage selon les cas
if jour == 0 or jour == 6:           # Dimanche et Samedi
    print("Repos")
elif jour in [1, 2, 4, 5]:          # Lundi, Mardi, Jeudi, Vendredi
    print("Ecole")
elif jour == 3:                     # Mercredi
    print("Musique ou sport")
# Pour les autres valeurs (hors 0-6), on n'affiche rien

Entrez le rang du jour (0 à 6) : 0
Repos

# **Q6 : Horaire d’ouverture d’un guichet**

**Description**

Vérification de l’ouverture d’un guichet en fonction du jour et de l’heure.

**Code utilisé**

In [4]:
def est_ouvert(jour, heure):

    # Dimanche toujours fermé
    if jour == 0:
        return False

    # Samedi uniquement le matin (8h-13h)
    if jour == 6:
        return 8 <= heure < 13

    # Lundi à vendredi : matin (8h-13h) et après-midi (14h-17h)
    matin = 8 <= heure < 13
    apres_midi = 14 <= heure < 17

    return matin or apres_midi

# Tests
tests = [
    (1, 9),
    (0, 5),
    (6, 15),
    (6, 13),
    (3, 16)
]

# Affichage des résultats
for jour, heure in tests:
    print(f"{jour} {heure} ==> {est_ouvert(jour, heure)}")

1 9 ==> True
0 5 ==> False
6 15 ==> False
6 13 ==> False
3 16 ==> True

# **Q7 : Détermination de la saison**

**Description**

Détermination de la saison (hiver, printemps, été, automne) à partir d’un mois et d’un jour.

**Code utilisé**

In [5]:
def saison(m, j):

    if (m == 12 and j >= 22) or m < 3 or (m == 3 and j < 20):
        return "hiver"
    elif (m == 3 and j >= 20) or 4 <= m <= 5 or (m == 6 and j < 21):
        return "printemps"
    elif (m == 6 and j >= 21) or 7 <= m <= 8 or (m == 9 and j < 23):
        return "été"
    else:
        return "automne"

# Tests
tests = [
    (12, 31), (3, 19), (3, 20), (5, 31),
    (6, 20), (6, 21), (8, 10), (9, 22),
    (9, 23), (10, 30), (12, 21), (12, 22)
]

# Affichage des résultats
for m, j in tests:
    print(f"{m} {j} ==> est : {saison(m, j)}")

12 31 ==> est : hiver
3 19 ==> est : hiver
3 20 ==> est : printemps
5 31 ==> est : printemps
6 20 ==> est : printemps
6 21 ==> est : été
8 10 ==> est : été
9 22 ==> est : été
9 23 ==> est : automne
10 30 ==> est : automne
12 21 ==> est : automne
12 22 ==> est : hiver

# **Q8 : Affichage d’un intervalle d’entiers**


**Description**

Affichage de tous les entiers dans un intervalle donné, en ordre croissant.

**Code utilisé**

In [6]:
def afficher_intervalle(debut, fin):
    if debut <= fin:
        return " ".join(str(i) for i in range(debut, fin + 1))
    return ""  # Chaîne vide si intervalle vide

# Tests
tests = [(-10, 5), (-2, 1), (-7, -10)]

# Affichage des résultats
for debut, fin in tests:
    print(f"{debut} {fin} ==> {afficher_intervalle(debut, fin)}")

-10 5 ==> -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5
-2 1 ==> -2 -1 0 1
-7 -10 ==>

# **Q9 : Génération de tables de multiplication**


**Description**

Génération et affichage des tables de multiplication de 1 à 10.

**Code utilisé**

In [9]:
def generer_tables():
    lignes = []
    for i in range(1, 11):
        ligne = [str(i * j) for j in range(1, 11)]
        lignes.append(" ".join(ligne))
    return "\n".join(lignes)

# Affichage
print(generer_tables())

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# **Q10 : Affichage des diviseurs d’un nombre**

**Description**

Affichage des diviseurs d’un nombre entier dans l’ordre décroissant, suivi du nombre total de diviseurs.



**Code utilisé**

In [8]:
def afficher_diviseurs(n):
    diviseurs = [i for i in range(1, n + 1) if n % i == 0]
    diviseurs.reverse()  # ordre décroissant

    print(f"{n} ===> ", end="")
    for d in diviseurs:
        print(d, end=" ")
    print(f"===> {len(diviseurs)}")

# Tests
nombres = [24, 15, 123, 423]
for n in nombres:
    afficher_diviseurs(n)

24 ===> 24 12 8 6 4 3 2 1 ===> 8
15 ===> 15 5 3 1 ===> 4
123 ===> 123 41 3 1 ===> 4
423 ===> 423 141 47 9 3 1 ===> 6