*# Imad Jaddi *# MISC 1 *# TP 03

# **Introduction**

Ce rapport présente les travaux pratiques réalisés en Python (POO), organisés en quatre exercices.

# **Exercice 1 : Gestion d’un parc automobile**

In [ ]:
from datetime import datetime

# **Q1 :  Classe Véhicule**

In [4]:
class Vehicule:
    def __init__(self, immatriculation, type_vehicule, modele_vehicule, prix_vehicule):
        self._immatriculation = immatriculation
        self._type_vehicule = type_vehicule
        self._modele_vehicule = modele_vehicule
        self._prix_vehicule = prix_vehicule
        self._heure_entree = datetime.now()

# **Q2 :  Classes voiture et Camion**

In [ ]:
class Voiture(Vehicule):
    def __init__(self, immatriculation, modele_voiture, prix_voiture):
        super().__init__(immatriculation, type_vehicule="Voiture", modele_vehicule=modele_voiture, prix_vehicule=prix_voiture)

class Camion(Vehicule):
    def __init__(self, immatriculation, modele_camion, prix_camion):

# **Q3 : Classe test**

In [2]:

# Tester les classes Voiture et Camion
voiture1 = Voiture("AA-123-BB", "Toyota", 150000)
camion1 = Camion("CC-784-DD", "Mercedes", 80000)

print(voiture1.immatriculation, voiture1.type_vehicule, voiture1.prix_vehicule)
print(camion1.immatriculation, camion1.type_vehicule, camion1.modele_vehicule)

AA-123-BB Voiture 150000
CC-784-DD Camion Mercedes

# **Exerice 2 : Classes Bâtiment et Maison**

# **Q1 :  Classe Batiment**

In [6]:
class Bâtiment:
    def __init__(self, adresse=""):
        self.__adresse = adresse  # Attribut privé

    # Accesseur (getter)
    def get_adresse(self):
        return self.__adresse

    # Mutateur (setter)
    def set_adresse(self, adresse):
        self.__adresse = adresse

    # Méthode toString
    def __str__(self):
        return f"Bâtiment - Adresse: {self.__adresse}"

# **Q2 : Classe Maison (heritant de Batiment)**

In [7]:
class Maison(Bâtiment):
    def __init__(self, adresse="", nbPieces=0):
        super().__init__(adresse)  # Appel du constructeur de la classe parent
        self.__nbPieces = nbPieces  # Attribut privé

    # Accesseur (getter) pour nbPieces
    def get_nbPieces(self):
        return self.__nbPieces

    # Mutateur (setter) pour nbPieces
    def set_nbPieces(self, nbPieces):
        self.__nbPieces = nbPieces

    # Méthode toString redéfinie
    def __str__(self):
        return f"Maison - Adresse: {self.get_adresse()}, Nombre de pièces: {self.__nbPieces}"

# **Q3 : Programme de test**

In [8]:
def tester_classes():
    print("Test de la classe Bâtiment ")

    # Test du constructeur sans paramètre
    batiment1 = Bâtiment()
    print(f"aâtiment1 (sans paramètre): {batiment1}")

    # Test du constructeur avec paramètre
    batiment2 = Bâtiment("123 Rue de Paris")
    print(f"Bâtiment2 (avec adresse): {batiment2}")

    # Test des accesseurs et mutateurs
    batiment1.set_adresse("456 Avenue des Champs")
    print(f"Bâtiment1 (après modification): {batiment1}")
    print(f"Adresse de batiment2 (via getter): {batiment2.get_adresse()}")

    print("\n=== Test de la classe Maison ===")

    # Test du constructeur sans paramètre
    maison1 = Maison()
    print(f"Maison1 (sans paramètre): {maison1}")

    # Test du constructeur avec paramètres
    maison2 = Maison("789 Boulevard de la Liberté", 5)
    print(f"Maison2 (avec paramètres): {maison2}")

    # Test des accesseurs et mutateurs
    maison1.set_adresse("321 Rue du Commerce")
    maison1.set_nbPieces(3)
    print(f"Maison1 (après modifications): {maison1}")
    print(f"Nombre de pièces de maison2: {maison2.get_nbPieces()}")

    print("\n=== Test d'héritage ===")

    # Vérification de l'héritage
    print(f"maison2 est une instance de Maison: {isinstance(maison2, Maison)}")
    print(f"maison2 est une instance de Bâtiment: {isinstance(maison2, Bâtiment)}")

    # Création d'une liste de bâtiments (polymorphisme)
    batiments = [
        Bâtiment("Adresse Bâtiment A"),
        Maison("Adresse Maison B", 4),
        Maison("Adresse Maison C", 6)
    ]

    print("\n=== Liste de tous les bâtiments ===")
    for i, batiment in enumerate(batiments, 1):
        print(f"{i}. {batiment}")

# Point d'entrée du programme
if __name__ == "__main__":
    tester_classes()

=== Test de la classe Bâtiment ===
Bâtiment1 (sans paramètre): Bâtiment - Adresse:
Bâtiment2 (avec adresse): Bâtiment - Adresse: 123 Rue de Paris
Bâtiment1 (après modification): Bâtiment - Adresse: 456 Avenue des Champs
Adresse de batiment2 (via getter): 123 Rue de Paris

=== Test de la classe Maison ===
Maison1 (sans paramètre): Maison - Adresse: , Nombre de pièces: 0
Maison2 (avec paramètres): Maison - Adresse: 789 Boulevard de la Liberté, Nombre de pièces: 5
Maison1 (après modifications): Maison - Adresse: 321 Rue du Commerce, Nombre de pièces: 3
Nombre de pièces de maison2: 5

=== Test d'héritage ===
maison2 est une instance de Maison: True
maison2 est une instance de Bâtiment: True

=== Liste de tous les bâtiments ===
1. Bâtiment - Adresse: Adresse Bâtiment A
2. Maison - Adresse: Adresse Maison B, Nombre de pièces: 4
3. Maison - Adresse: Adresse Maison C, Nombre de pièces: 6

# **Exercice 3 : Hiérarchie Personne-Employé-Chef-Directeur**

# **Q1 : Les classes Personne, Employé, Chef et Directeur**

In [10]:
class Personne:
    def __init__(self, nom="", prenom="", date_naissance=""):
        self.__nom = nom
        self.__prenom = prenom
        self.__date_naissance = date_naissance

    def afficher(self):
        print(f"{self.__prenom} {self.__nom}, Né le: {self.__date_naissance}")

class Employe(Personne):
    def __init__(self, nom="", prenom="", date_naissance="", salaire=0):
        super().__init__(nom, prenom, date_naissance)
        self.__salaire = salaire

    def afficher(self):
        super().afficher()
        print(f"Salaire: {self.__salaire}€")

class Chef(Employe):
    def __init__(self, nom="", prenom="", date_naissance="", salaire=0, service=""):
        super().__init__(nom, prenom, date_naissance, salaire)
        self.__service = service

    def afficher(self):
        super().afficher()
        print(f"Service: {self.__service}")

class Directeur(Chef):
    def __init__(self, nom="", prenom="", date_naissance="", salaire=0, service="", societe=""):
        super().__init__(nom, prenom, date_naissance, salaire, service)
        self.__societe = societe

    def afficher(self):
        super().afficher()
        print(f"Société: {self.__societe}")

# **Q2 & Q3 : Programme de test**

In [11]:
# Création du tableau avec 8 personnes
personnes = [
    Employe("Dupont", "Jean", "15/05/1990", 2500),
    Employe("Martin", "Marie", "22/08/1985", 2800),
    Employe("Bernard", "Pierre", "10/03/1992", 2300),
    Employe("Thomas", "Julie", "05/11/1988", 2700),
    Employe("Petit", "Luc", "30/01/1995", 2200),
    Chef("Robert", "Sophie", "12/06/1980", 3500, "RH"),
    Chef("Richard", "Paul", "18/09/1975", 3800, "Info"),
    Directeur("Durand", "Marc", "03/04/1970", 5500, "Direction", "XYZ")
]

# Affichage avec une boucle
for i, p in enumerate(personnes, 1):
    print(f"\n{i}. ", end="")
    p.afficher()

1. Jean Dupont, Né le: 15/05/1990
Salaire: 2500€

2. Marie Martin, Né le: 22/08/1985
Salaire: 2800€

3. Pierre Bernard, Né le: 10/03/1992
Salaire: 2300€

4. Julie Thomas, Né le: 05/11/1988
Salaire: 2700€

5. Luc Petit, Né le: 30/01/1995
Salaire: 2200€

6. Sophie Robert, Né le: 12/06/1980
Salaire: 3500€
Service: RH

7. Paul Richard, Né le: 18/09/1975
Salaire: 3800€
Service: Info

8. Marc Durand, Né le: 03/04/1970
Salaire: 5500€
Service: Direction
Société: XYZ

# **Exercice 4 : Héritage et polymorphisme pour le calcul de salaire des employés**

# **Q1. Classe Employé**

In [12]:
from abc import ABC, abstractmethod

class Employe(ABC):
    def __init__(self, matricule, nom, prenom, date_naissance):
        self.__matricule = matricule
        self.__nom = nom
        self.__prenom = prenom
        self.__date_naissance = date_naissance

    @abstractmethod
    def get_salaire(self):
        pass

    def __str__(self):
        return f"{self.__prenom} {self.__nom}"

# **Q2 : Classes Ouvrier, Cadre, Patron**

In [13]:
class Ouvrier(Employe):
    SMIG = 2500

    def __init__(self, matricule, nom, prenom, date_naissance, date_entree):
        super().__init__(matricule, nom, prenom, date_naissance)
        self.__date_entree = date_entree

    def get_salaire(self):
        anciennete = 2024 - int(self.__date_entree[-4:])  # Calcule ancienneté
        salaire = Ouvrier.SMIG + (anciennete * 100)
        return min(salaire, Ouvrier.SMIG * 2)

    def __str__(self):
        return f"Ouvrier: {super().__str__()}, Salaire: {self.get_salaire()}$"

class Cadre(Employe):
    def __init__(self, matricule, nom, prenom, date_naissance, indice):
        super().__init__(matricule, nom, prenom, date_naissance)
        self.__indice = indice

    def get_salaire(self):
        salaires = {1: 13000, 2: 15000, 3: 17000, 4: 20000}
        return salaires.get(self.__indice, 0)

    def __str__(self):
        return f"Cadre: {super().__str__()}, Indice: {self.__indice}, Salaire: {self.get_salaire()}$"

class Patron(Employe):
    CA = 1000000  # Chiffre d'affaire commun

    def __init__(self, matricule, nom, prenom, date_naissance, pourcentage):
        super().__init__(matricule, nom, prenom, date_naissance)
        self.__pourcentage = pourcentage

    def get_salaire(self):
        return (Patron.CA * self.__pourcentage) / 100

    def __str__(self):
        return f"Patron: {super().__str__()}, Salaire annuel: {self.get_salaire()}$"

# **Q3 : Programme de test**

In [14]:
# Test
if __name__ == "__main__":
    # Création des employés
    e1 = Ouvrier("O001", "Dupont", "Jean", "1990", "2015")
    e2 = Ouvrier("O002", "Martin", "Marie", "1985", "2020")
    e3 = Cadre("C001", "Bernard", "Pierre", "1975", 1)
    e4 = Cadre("C002", "Thomas", "Julie", "1980", 3)
    e5 = Patron("P001", "Durand", "Marc", "1965", 5)

    # Affichage
    for emp in [e1, e2, e3, e4, e5]:
        print(emp)

    # Test CA patron
    print(f"\nCA patron: {Patron.CA}$")

Ouvrier: Jean Dupont, Salaire: 3400$
Ouvrier: Marie Martin, Salaire: 2900$
Cadre: Pierre Bernard, Indice: 1, Salaire: 13000$
Cadre: Julie Thomas, Indice: 3, Salaire: 17000$
Patron: Marc Durand, Salaire annuel: 50000.0$

CA patron: 1000000$