Exercice 1

Question 1

In [1]:
class Vehicule:
    compteur = 0   # variable commune à tous les véhicules

    def __init__(self, annee, prix):
        Vehicule.compteur += 1
        self.__matricule = Vehicule.compteur
        self.__annee = annee
        self.__prix = prix

    def get_matricule(self):
        return self.__matricule

    def get_annee(self):
        return self.__annee

    def get_prix(self):
        return self.__prix

    def set_prix(self, prix):
        self.__prix = prix

    def demarrer(self):
        pass

    def accelerer(self):
        pass

    def __str__(self):
        return f"Matricule: {self.__matricule}, Année: {self.__annee}, Prix: {self.__prix}"

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

Question 2

In [3]:
class Voiture(Vehicule):
    def demarrer(self):
        print("La voiture démarre")

    def accelerer(self):
        print("La voiture accélère")

In [4]:
class Camion(Vehicule):
    def demarrer(self):
        print("Le camion démarre")

    def accelerer(self):
        print("Le camion accélère")

Question 3

In [5]:
v1 = Voiture(2020, 12000)
v2 = Camion(2018, 30000)

print(v1)
v1.demarrer()
v1.accelerer()

print(v2)
v2.demarrer()
v2.accelerer()

Matricule: 1, Année: 2020, Prix: 12000
La voiture démarre
La voiture accélère
Matricule: 2, Année: 2018, Prix: 30000
Le camion démarre
Le camion accélère

Exercice 2

Question 1

In [6]:
class Batiment:
    def __init__(self, adresse=""):
        self.__adresse = adresse

    def get_adresse(self):
        return self.__adresse

    def set_adresse(self, adresse):
        self.__adresse = adresse

    def __str__(self):
        return f"Adresse : {self.__adresse}"

Question 2

In [7]:
class Maison(Batiment):
    def __init__(self, adresse="", nbPieces=0):
        super().__init__(adresse)
        self.__nbPieces = nbPieces

    def get_nbPieces(self):
        return self.__nbPieces

    def set_nbPieces(self, nbPieces):
        self.__nbPieces = nbPieces

    def __str__(self):
        return f"{super().__str__()}, Nombre de pièces : {self.__nbPieces}"

Question 3

In [8]:
b = Batiment("Rue de Paris")
m = Maison("Rue Hassan II", 5)

print(b)
print(m)

Adresse : Rue de Paris
Adresse : Rue Hassan II, Nombre de pièces : 5

Exercice 3

In [9]:
class Personne:
    def __init__(self, nom, prenom, dateNaissance):
        self.nom = nom
        self.prenom = prenom
        self.dateNaissance = dateNaissance

    def afficher(self):
        print(self.nom, self.prenom, self.dateNaissance)

In [10]:
class Employe(Personne):
    def __init__(self, nom, prenom, dateNaissance, salaire):
        super().__init__(nom, prenom, dateNaissance)
        self.salaire = salaire

    def afficher(self):
        print(self.nom, self.prenom, self.salaire)

In [11]:
class Chef(Employe):
    def __init__(self, nom, prenom, dateNaissance, salaire, service):
        super().__init__(nom, prenom, dateNaissance, salaire)
        self.service = service

    def afficher(self):
        print(self.nom, self.prenom, self.service)

In [12]:
class Directeur(Chef):
    def __init__(self, nom, prenom, dateNaissance, salaire, service, societe):
        super().__init__(nom, prenom, dateNaissance, salaire, service)
        self.societe = societe

    def afficher(self):
        print(self.nom, self.prenom, self.societe)

In [13]:
personnes = [
    Employe("A", "A", "1990", 3000),
    Employe("B", "B", "1991", 3200),
    Employe("C", "C", "1992", 3500),
    Employe("D", "D", "1993", 3700),
    Employe("E", "E", "1994", 3900),
    Chef("F", "F", "1985", 5000, "IT"),
    Chef("G", "G", "1984", 5200, "RH"),
    Directeur("H", "H", "1975", 8000, "Admin", "ULCO")
]

for p in personnes:
    p.afficher()

A A 3000
B B 3200
C C 3500
D D 3700
E E 3900
F F IT
G G RH
H H ULCO